@font-face {
  font-family:'DragonQuestFC';
  src: url('./assets/fonts/DragonQuestFC.ttf');
}

.App {
  text-align: center;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
}

.famicom-fonts {
  font-family: 'DragonQuestFC';
  color: white;
}

.famicom-font-size {
  font-size: 48px;
}

